<!DOCTYPE html>
<html lang="en">
    <head>
        <title>this is a</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="我的系统">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- intoHead  -->
        <link rel="stylesheet" type="text/css" href="style/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="style/console1412.css" />
<link rel="stylesheet" type="text/css" href="style/home.console1412.css" />
<!-- 全局公共样式 -->
<link rel="stylesheet" type="text/css" href="style/global.css" />
<!-- jQuery2.0库 -->
<!-- <script type="text/javascript" src="/Public/Js/jquery-2.1.1.min.js"></script> -->
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/jquery.form.js"></script>
<!-- LayerUi库 -->
<script type="text/javascript" src="js/layer.js"></script>
<script type="text/javascript" src="js/laypage.js"></script>
<script type="text/javascript" src="js/jquery.confirm.js"></script>
<!-- 后台JS -->
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/layerUi.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript">
document.oncontextmenu=function(){ return false }
</script><script type="text/javascript">
    $(function(){
        var h = $('.viewFramework-sidebar',parent.document).height();
        $('.home-container').css('height', h-30);
    });
</script>
        <!-- /intoHead  -->
    </head>
    <body class="iframe-body" data-settime="600" data-actionurl="Admin/Index/index">
        <!-- header  -->
        <div class="viewFramework-topbar ng-scope">
    <!-- topbar -->
    <div class="aliyun-console-topbar ng-isolate-scope">
        <div class="topbar-wrap topbar-clearfix">
            <div class="topbar-head topbar-left"><a href="javasrcipt:;" target="_blank" class="topbar-logo topbar-left"><span class="icon-logo1"></span></a> <a href="javasrcipt:;" target="_self" class="topbar-home-link topbar-btn topbar-left" ><span class="ng-binding">管理控制台</span></a>
            </div>
            
            <div class="topbar-info topbar-right topbar-clearfix">
                <!-- 手机app -->
                <!-- ngIf: versionGreaterThan1_3_21 && navLinks.qrcode.show -->
                <div class="topbar-qrcode topbar-left ng-scope">
                    <a class="topbar-btn" href="javasrcipt:;" target="_blank">
                        <span class="icon-qrcode"></span>                        
                        <span class="ng-scope ng-binding">二维码</span>                       
                    </a>
                    <div class="topbar-qrcode-panel">
                        <div class="topbar-qrcode-image"><img src="images/qrcode.png" widht="100" height="100"></div>
                        <div class="topbar-qrcode-title ng-binding">扫码关注平台动态</div>
                    </div>
                </div>
                
                <!-- 站内信 -->
                
                <div class="dropdown topbar-notice topbar-btn topbar-left ng-scope" ><a href="javasrcipt:;" class="dropdown-toggle topbar-btn-notice"><span class="topbar-btn-notice-icon icon-bell"></span> <span class="topbar-btn-notice-num ng-binding">22</span></a>
                    <div class="topbar-notice-panel">
                        <div class="topbar-notice-arrow"></div>
                        <div class="topbar-notice-head"><span class="ng-binding">站内消息通知</span></div>
                        <div class="topbar-notice-body">                            
                            <ul class="ng-scope">                                
                                <li class="ng-scope">
                                    <a target="_blank" class="clearfix" href="javasrcipt:;"><span class="inline-block"><span class="topbar-notice-link ng-binding">【重要通知】阿里云推荐码限量开放申请中，分享9折推荐码，获10%返利！</span> <span class="topbar-notice-time ng-binding">2015-10-23</span></span>
                                        <span class="inline-block topbar-notice-class ng-scope"><span class="topbar-notice-class-name ng-binding">优惠活动</span></span>
                                        
                                    </a>
                                </li>                                
                                <li class="ng-scope">
                                    <a ng-href="#" target="_blank" class="clearfix" href="javasrcipt:;"><span class="inline-block"><span class="topbar-notice-link ng-binding">参与云服务器优化调研，赢100元通用代金券！</span> <span class="topbar-notice-time ng-binding">2015-10-16</span></span>
                                        <span class="inline-block topbar-notice-class ng-scope"><span class="topbar-notice-class-name ng-binding">问卷回访</span></span>
                                        
                                    </a>
                                </li>
                                
                                <li ng-repeat="item in messages.messageList" ng-class="{'topbar-notice-readed':item.readed}" class="ng-scope">
                                    <a ng-href="#" target="_blank" class="clearfix" ng-click="readMessage(item)" aliyun-console-spm="402" data-spm-click="gostr=/aliyun;locaid=d402;;" href="javasrcipt:;"><span class="inline-block"><span class="topbar-notice-link ng-binding" ng-bind="item.title">【新生宝贝】美国硅谷第二可用区正式上线！ ECS88折活动10.10~11.9仅此一月</span> <span class="topbar-notice-time ng-binding" ng-bind="item.formatCreatedTime">2015-10-12</span></span>
                                        <!-- ngIf: item.className --><span class="inline-block topbar-notice-class ng-scope" ng-if="item.className"><span class="topbar-notice-class-name ng-binding">产品动态</span></span>
                                        <!-- end ngIf: item.className -->
                                    </a>
                                </li>
                                <!-- end ngRepeat: item in messages.messageList -->
                                <li ng-repeat="item in messages.messageList" ng-class="{'topbar-notice-readed':item.readed}" class="ng-scope">
                                    <a ng-href="#" target="_blank" class="clearfix" ng-click="readMessage(item)" aliyun-console-spm="403" data-spm-click="gostr=/aliyun;locaid=d403;;" href="javasrcipt:;"><span class="inline-block"><span class="topbar-notice-link ng-binding" ng-bind="item.title">阿里云 ACE 产品问卷调查</span> <span class="topbar-notice-time ng-binding" ng-bind="item.formatCreatedTime">2015-10-12</span></span>
                                        <!-- ngIf: item.className --><span class="inline-block topbar-notice-class ng-scope" ng-if="item.className"><span class="topbar-notice-class-name ng-binding">问卷回访</span></span>
                                        <!-- end ngIf: item.className -->
                                    </a>
                                </li>
                                <!-- end ngRepeat: item in messages.messageList -->
                                <li ng-repeat="item in messages.messageList" ng-class="{'topbar-notice-readed':item.readed}" class="ng-scope">
                                    <a ng-href="#" target="_blank" class="clearfix" ng-click="readMessage(item)" aliyun-console-spm="404" data-spm-click="gostr=/aliyun;locaid=d404;;" href="javasrcipt:;"><span class="inline-block"><span class="topbar-notice-link ng-binding" ng-bind="item.title">【重要通知】阿里云推荐码返利升级，10%返利+50元额外奖励等你拿！</span> <span class="topbar-notice-time ng-binding" ng-bind="item.formatCreatedTime">2015-09-17</span></span>
                                        <!-- ngIf: item.className --><span class="inline-block topbar-notice-class ng-scope" ng-if="item.className"><span class="topbar-notice-class-name ng-binding">优惠活动</span></span>
                                        <!-- end ngIf: item.className -->
                                    </a>
                                </li>
                                <!-- end ngRepeat: item in messages.messageList -->
                            </ul>
                            <!-- end ngIf: messages && messages.messageList.length >0 -->
                            <!-- ngIf: !messages ||  messages.messageList.length == 0 -->
                        </div>
                        <div class="topbar-notice-foot"><a class="topbar-notice-more ng-binding" target="_blank" ng-href="#" aliyun-console-spm="401" data-spm-click="gostr=/aliyun;locaid=d401;;" href="javasrcipt:;">查看更多</a></div>
                    </div>
                </div>
                <!-- end ngIf: messages && messages.total >=0 && navLinks.message.show -->
                <!-- AccessKeys -->
                <!-- ngIf: navLinks.accesskeys.show -->
                <div class="topbar-left topbar-accesskeys topbar-info-item ng-scope"><a href="javasrcipt:;" target="_blank" class="topbar-btn ng-binding" aliyun-console-spm="50" data-spm-click="gostr=/aliyun;locaid=d50;;">等待添加<!-- ngIf: navLinks.accesskeys.showNew --></a></div>
                <!-- end ngIf: navLinks.accesskeys.show -->
                <!-- 工单 -->
                <!-- ngIf: navLinks.workorder.show -->
                <div class="topbar-left topbar-workorder topbar-info-item ng-scope" ng-if="navLinks.workorder.show">
                    <div class="dropdown"><a href="javasrcipt:;" class="dropdown-toggle topbar-btn" data-toggle="dropdown" aliyun-console-spm="51" data-spm-click="gostr=/aliyun;locaid=d51;;"><span ng-bind="navLinks.workorder.text" class="ng-binding">等待添加</span><!-- ngIf: navLinks.workorder.showNew --><span class="icon-arrow-down"></span></a>
                        <ul class="dropdown-menu">
                            <!-- ngRepeat: link in navLinks.workorder.links -->
                            <li ng-repeat="link in navLinks.workorder.links" class="topbar-info-btn ng-scope"><a href="javasrcipt:;" target="_blank"><span class="ng-binding">等待添加</span><!-- ngIf: link.showNew --></a></li>
                            <!-- end ngRepeat: link in navLinks.workorder.links -->
                            <li ng-repeat="link in navLinks.workorder.links" class="topbar-info-btn ng-scope"><a href="javasrcipt:;" target="_blank"><span class="ng-binding">等待添加</span><!-- ngIf: link.showNew --></a></li>
                            <!-- end ngRepeat: link in navLinks.workorder.links -->
                        </ul>
                    </div>
                </div>
                <!-- end ngIf: navLinks.workorder.show -->
                <!-- 备案 -->
                <!-- ngIf: navLinks.icp.show -->
                <div class="topbar-left topbar-accesskeys topbar-info-item ng-scope"><a href="javasrcipt:;" data-url="/index.php?s=/Public/clearAdminCache.html" class="topbar-btn ng-binding delete">清理缓存<!-- ngIf: navLinks.icp.showNew --></a></div>
                <!-- end ngIf: navLinks.icp.show -->
                <!-- 帮助 -->
                <!-- ngIf: navLinks.help.show -->
                <div class="topbar-left topbar-help topbar-info-item ng-scope" ng-if="navLinks.help.show">
                    <div class="dropdown"><a href="javasrcipt:;" class="dropdown-toggle topbar-btn"><span class="ng-binding" id="help">等待添加</span><!-- ngIf: navLinks.help.showNew --><span class="icon-arrow-down"></span></a>
                        <ul class="dropdown-menu">
                            <!-- ngRepeat: link in navLinks.help.links -->
                            <li class="topbar-info-btn ng-scope"><a href="javasrcipt:;" target="_blank"><span class="ng-binding">等待添加</span><!-- ngIf: link.showNew --></a></li>
                            <!-- end ngRepeat: link in navLinks.help.links -->
                            <li class="topbar-info-btn ng-scope"><a href="javasrcipt:;" target="_blank"><span class="ng-binding">等待添加</span><!-- ngIf: link.showNew --></a></li>
                            <!-- end ngRepeat: link in navLinks.help.links -->
                            <li class="topbar-info-btn ng-scope"><a href="javasrcipt:;" target="_blank"><span class="ng-binding">等待添加</span><!-- ngIf: link.showNew --></a></li>
                            <!-- end ngRepeat: link in navLinks.help.links -->
                            <li class="topbar-info-btn ng-scope"><a href="javasrcipt:;" target="_blank"><span class="ng-binding">等待添加</span><!-- ngIf: link.showNew --></a></li>
                            <!-- end ngRepeat: link in navLinks.help.links -->
                        </ul>
                    </div>
                </div>
                <!-- end ngIf: navLinks.help.show -->
                <!-- 新版当页帮助 -->
                <!-- ngIf: navLinks.assist.show -->
                <!-- 其他entrance区域 -->
                <!-- ngRepeat: entry in navLinks.entrances -->
                <!-- user -->
                <!-- ngIf: navLinks.user.show -->
                <div class="topbar-left ng-scope">
                    <div id='loginOut' class="dropdown topbar-info-item">
                        <a href="javasrcipt:;" class="dropdown-toggle topbar-btn">
                            <span class="ng-binding">26287****@qq.com</span>
                            <span class="icon-arrow-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- ngRepeat: link in navLinks.user.links -->
                            <li class="topbar-info-btn ng-scope">
                                <a href="javasrcipt:;" target="_self"><span class="ng-binding">退出</span></a>
                            </li>
                            <!-- end ngRepeat: link in navLinks.user.links -->
                        </ul>
                    </div>
                </div>
                <!-- end ngIf: navLinks.user.show -->
                <!-- 国际化 -->
                <!-- ngIf: navLinks.i18n.show && navLinks.i18n.currentLanguage -->
            </div>
            <!-- ngIf: navLinks.assist.show && helpConfig -->
        </div>
    </div>
    <!-- /topbar -->
</div>
        <!-- /header  -->

        <div id='sidebar-left' class="viewFramework-body viewFramework-sidebar-full">
            <div class="viewFramework-sidebar">
                <!-- sidebar -->
                <script type="text/javascript">
                document.oncontextmenu=function(){ return false }
                </script>
<div id="sidebar" product-id="account" class="sidebar-content">
    <!-- ngIf: !loadingState -->
    <div class="sidebar-inner ng-scope">
        <!-- ngIf: versionGreaterThan1_3_21 -->
        <div id='sidebar-icon' class="sidebar-fold ng-scope icon-unfold"></div>
        <!-- end ngIf: versionGreaterThan1_3_21 -->        
        <div class="sidebar-nav">
            <div class="sidebar-title">
                <div class="sidebar-title-inner ng-scope">
                    <span class="sidebar-title-icon"><span class="icon-arrow-down"></span></span>
                    <span class="sidebar-title-text ng-binding">一级菜单</span>
                    <span class="sidebar-manage ng-scope">
                        <a class="icon-setup ng-isolate-scope" title="自定义用户中心快捷入口" href="javasrcipt:;"></a>
                    </span>
                </div>
            </div>
            <ul class="entrance-nav sidebar-trans" id="nav" style="height:auto;">
                <li class="nav-item ng-scope">
                    <a href="javasrcipt:;" data-submenu="2" data-count="4" data-url="list.html" class="ng-scope">
                        <div class="nav-icon"><span class="icon-ecs"></span></div><span class="nav-title ng-binding">二级菜单</span>
                    </a>
                </li>               
            </ul>
        </div>
        <div id="time" class="time">
            <!-- <font id="today">2016-01-29 15:29:52</font> -->
            <font id="today">2016-01-29 15:29:52</font>
        </div>
    </div>
    <!-- end ngIf: !loadingState -->
    <!-- ngIf: loadingState -->
</div>
                <!-- /sidebar -->
            </div>
            
            <div id='sidebal-middle' class="viewFramework-product">
                <!-- <div class="viewFramework-product-navbar-bg"></div> -->
                <!-- ngIf: config.productNavBar != 'disabled' -->
                <div class="viewFramework-product-navbar ng-scope hidden">
                    <!-- product nav -->
                    <div class="product-nav-stage ng-scope product-nav-stage-main">
                        <div class="product-nav-scene product-nav-main-scene">
                            <div class="product-nav-title ng-binding">二级菜单标题</div>
                            <!-- 自定义内容插入点，比如商标、logo -->
                            <div customized-content="" class="ng-isolate-scope"></div>
                            <div class="product-nav-list" id="product-nav-list">
                                <ul class="submenu-2 hidden" data-submenu="2">                                                 
                                    <li>
                                        <div class="ng-isolate-scope">
                                            <a href="javascript:;" data-url="list.html" class="ng-scope">
                                                <div class="nav-icon"></div>
                                                <div class="nav-title ng-binding">三级菜单-列表</div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ng-isolate-scope">
                                            <a href="javascript:;" data-url="form.html" class="ng-scope">
                                                <div class="nav-icon"></div>
                                                <div class="nav-title ng-binding">三级菜单-表单</div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ng-isolate-scope">
                                            <a href="javascript:;" data-url="form_1.html" class="ng-scope">
                                                <div class="nav-icon"></div>
                                                <div class="nav-title ng-binding">三级菜单-表单</div>
                                            </a>
                                        </div>
                                    </li>  
                                    <li>
                                        <div class="ng-isolate-scope">
                                            <a href="javascript:;" data-url="icon.html" class="ng-scope">
                                                <div class="nav-icon"></div>
                                                <div class="nav-title ng-binding">三级菜单-图标</div>
                                            </a>
                                        </div>
                                    </li>                                                                                                 
                                </ul>
                            </div>
                        </div>
                        <div class="product-nav-scene product-nav-sub-scene">
                            <div class="product-nav-title">
                                <!-- ngIf: config.backNav -->
                            </div>
                            <div class="product-nav-list">
                                <ul>
                                    <!-- ngRepeat: item in config.subNav -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /product nav -->
                </div>
                <!-- end ngIf: config.productNavBar != 'disabled' -->
                <!-- product nav collapse-->
                <!-- ngIf: config.productNavBar != 'disabled' -->
                <div class="viewFramework-product-navbar-collapse ng-scope hidden">
                    <div class="product-navbar-collapse-inner">
                        <div class="product-navbar-collapse-bg"></div>
                        <div id='icon-left' class="product-navbar-collapse">
                            <span class="icon-collapse-left"></span> 
                            <span class="icon-collapse-right"></span>
                        </div>
                    </div>
                </div>
                <!-- end ngIf: config.productNavBar != 'disabled' -->
                <!-- /product nav collapse-->
                <div class="viewFramework-product-body" id="mainFrameBody">
                    <!-- product body -->
                    <iframe id="mainFrame" name="mainFrame" frameborder="0" src="home.html" width="100%" height="99%" >
                    </iframe>
                    <!-- /product body -->
                </div>
            </div>
        </div>
        <!-- <div class="aliyun-console-sidebar-tooltip right fade in" title="" content="云服务器ECS&nbsp;" style="top: 120px; left: 50px; display: block;">
            <div class="tooltip-arrow"></div>
            <div class="tooltip-inner ng-binding">云服务器ECS&nbsp;</div>
        </div> -->
    </body>
</html>