@import url('./iconfont.css');

html,body{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.content-left{
  float: left;
  width: 180px;
  height: 100%;
  background-color: #293038;
  color: #aeb9c2;
  line-height: 40px !important;
  font-size: 12px;
  transition: flex-basis 0.25s;
  -moz-transition: flex-basis 0.25s; /* Firefox */
  -webkit-transition: flex-basis 0.25s;  /* Safari 鍜� Chrome */
  -o-transition: flex-basis 0.25s;   /* Opera */
}
.content-left-min{
  width: 50px;
  overflow: hidden;
}
.content-right{
  float: right;
  overflow-y: auto;
}
.content-right:after{
  display: table;
  clear: both;
}
.el-breadcrumb{
    box-sizing: border-box;
    padding-left: 15px;
    background-color: #f5f5f5;
    height: 30px;
    line-height: 30px;
    list-style: none;
    overflow: hidden;
}

.body {
  top:0;
  left:0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/body_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden
}
.login{
    width: 381px;
    min-height: 339px; 
    background-color: #fff;
    box-shadow: 7px 7px 7px rgba(0,0,0,.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:999;
}
.logo{
    height: 82px;
}
.item-input{
    height: 72px;
    box-sizing: border-box;
    padding: 17px 24px;
    border-left: 6px solid #fff;
    border-right: 6px solid #04b3c4;
}
.item-input.active{
    border-left: 6px solid #4e8ff7;
    border-right: 6px solid #fff;
}
.item-input.last{
    border-right: 6px solid #fff;
    padding-bottom: 10px;
}
.item-input.last.button{
    height: 55px;
    padding-top: 0
}
.item-input .item-input-icon{
    display: inline-block;
    vertical-align: top;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-left: 1px #ccc solid;
    width: 37px;
    height: 37px;
    line-height: 35px;
    text-align: center;
    color: #ccc;
    box-sizing: border-box;
}
.item-input .item-input-input{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-right: 1px #ccc solid;
    height: 37px;
    width: 284px;
}
.item-input .item-input-input .el-input{
    height: 100%;
}
.item-input .item-input-input .el-form-item__error{
    left: -37px;
}
.item-input input{
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    outline: none;
}
.item-input .el-checkbox__inner,.item-input .el-button{
    border-radius: 0px;
}
.item-input .el-button{
    width: 100%;
}